/*colores*/
$gris:rgb(99,99,90);
$white: #efefef;
$verde: #6eb96b;

/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Krub:wght@400;600&display=swap');

$font:'Krub', sans-serif;
$fontbold: 600;